div {width: 600px; height: 504px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO1QO3yW_NwCVZULMobzUgBM57FHVY_3Mr6Z9AEdgy_sG5WFDR);
  -webkit-animation: gangham 4s steps(23,start) infinite,
    movearound 10s steps(69,end) infinite 44ms;
  animation: gangham 6s steps(23,start) infinite,
    movearound 7s steps(69,end) infinite alternate 44ms;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@-webkit-keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@-webkit-keyframes movearound {
  0% {-webkit-transform: translatex(0)}
  100% {-webkit-transform: translatex(600px);}
}

@keyframes movearound {
  0% {transform: translatex(0)}
  100% {transform: translatex(600px);}
});
  -webkit-animation: gangham 4s steps(23,start) infinite,
    movearound 10s steps(69,end) infinite 44ms;
  animation: gangham 6s steps(23,start) infinite,
    movearound 7s steps(69,end) infinite alternate 44ms;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@-webkit-keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@-webkit-keyframes movearound {
  0% {-webkit-transform: translatex(0)}
  100% {-webkit-transform: translatex(600px);}
}

@keyframes movearound {
  0% {transform: translatex(0)}
  100% {transform: translatex(600px);}
);
  -webkit-animation: gangham 4s steps(23,start) infinite,
    movearound 12s steps(69,end) infinite 44ms;
  animation: gangham 4s steps(23,start) infinite,
    movearound 12s steps(69,end) infinite alternate 44ms;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@-webkit-keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@-webkit-keyframes movearound {
  0% {-webkit-transform: translatex(0)}
  100% {-webkit-transform: translatex(600px);}
}

@keyframes movearound {
  0% {transform: translatex(0)}
  100% {transform: translatex(600px);}
}
